.App {
  text-align: center;

}

.App-logo {
  animation : bounce 0.5s infinite alternate;
  height: 80px;
}

.App-tag
{  
 height: 80px;
}
.App-header {
  background-color: white;
  height: 180px;
  padding: 25px;
}

.header-text {
  color: black;
}

.App-intro {
  font-size: large;

}
.card-text {
  color: white;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row-text{
  text-align: 'center';
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg);  }
  to { transform: rotate(360deg); }
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
